<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            width: 500px;
            height: auto;
            border: 1px solid black;
        }
        .content{
            margin: 10px;
        }
        .author {
            font-size: 20px;
        }
        .comment{
            width: auto;
            height: auto;
            padding: 10px;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div class='box'>
        <div class="content">
            <p> {{ppost.id}}번째 글</p>
            <h2>{{ppost.title}}</h2>
            <p class="author">by. {{ppost.author}}</p>
            <p class="body">{{ppost.content}}</p>
        </div>

        <div class="comment">
            <p>댓글</p>
           <form action = "{% url 'comment_create' ppost.id %}" method ="POST">
               {% csrf_token %}
               {{ form.as_p }}
               <input type ="submit" value ="Write">
            </form>

           

            {% for comment in comments %}
            <p>{{comment.author}} {{comment.created|date:"D d M Y"}}</p>
            <p>{{comment.content}}</p>
            
            <a href ="{% url 'comment_delete' ppost.id comment.id %}">삭제하기</a>
            <a href ="{% url 'comment_update' ppost.id comment.id %}">수정하기</a>

            {% endfor %}

            {% if messages %}
                {% for message in messages %}
                    {{ messages.tags }}
                    {{messages.message}}
                {% endfor %}
            {% endif %}

        </div>

        
    </div>

</body>

<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            alert("{{message.message}}");
        {% endfor %}
    {% endif %}
</script>
</html>

